/*
 *
 * ABC-EtuCourseTimetable
 *
 * burakdmb
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */



.title{
    text-align: center;
}


.customtable {
    border-collapse: collapse !important;
    font-size: medium !important;
    table-layout: fixed !important;
    width: auto !important;
    line-height:normal;
    text-align: center;
}

.customtable th, .customtable td {
    border: 1px solid white !important;
}
