/*
 *
 * ABC-EtuExamTimeTable
 *
 * Cemal Kılıç
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.title{
    text-align: center;
}

.myTable {
    border-collapse: collapse !important;
    font-size: medium !important;
    table-layout: fixed !important;
    width: auto !important;
    line-height:normal;
    text-align: center;
}

.myTableDiv {
    text-align: center;
}

.myTable td, .myTable th
{
    padding:0 15px 0 15px;
}
