/*
 *
 * ABC-EtuExamTimeTable
 *
 * Cemal Kılıç
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.title{
    text-align: center;
}

.myTable {
    border-collapse: collapse !important;
    font-size: 14px !important;
    table-layout: fixed !important;
    width: auto !important;
}

.myTable th, .myTable td {
    border: 1px solid white !important;
    text-align: center;
}