/*
 *
 * ABC-EtuShuttleInfo
 *
 * burakdmb
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */



 .title{
    text-align: center;
}


.shuttleTable {
    border-collapse: collapse !important;
    font-size: medium !important;
    table-layout: fixed !important;
    width: auto !important;
    line-height:normal;
    text-align: center;
}
