/*
 *
 * ABC-EtuShuttleInfo
 *
 * burakdmb
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */



 .title{
    text-align: center;
}


.shuttleTable {
    border-collapse: collapse !important;
    font-size: medium !important;
    table-layout: fixed !important;
    width: auto !important;
    line-height:normal;
    text-align: center;
}
.shuttleDiv {
    text-align: center;
}

.shuttleTable td, .shuttleTable th
{
    padding:0 15px 0 15px;
    width: 15px;
    margin: 4px;
}